body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

#root {
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: peachpuff;
  position: fixed;
  overflow: auto;
}

.page {
  /* height: 100vh; */
  width: 50%;
  margin-left: 25%;
}

.input {
  margin-top: 100px;
}

.Text,
.output,
#textOutput {
  width: 100%;
  resize: none;
  overflow: auto;
  border-color: black;
}

.submit,
#erase {
  margin-top: 10px;
  float: left;
  margin-bottom: 20px;
}

#textOutput {
  margin-top: 20px;
}

.list {
  margin: 0;
  padding: 0;
}
