body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

#input {
  text-align: center;
  margin-top: 200px;
}
.Text {
  width: 50%;
  position: fixed;
  resize: none;
}

.Submit {
  float: none;
}

#output {
  margin-top: 400px;
  text-align: center;
}
